@page "/documents/list"

@using BlazorWasmApp.Shared.datatable
@using BlazorWasmApp.Shared.project
@using SharedLib
@using SharedLib.Models
@using SharedLib.Services
@using System.Web
@using System.Collections.Specialized

@inject IDocumentsDesignRestService _design_documents_refit_service
@inject ILogger<DocumentsListPage> _logger

@inherits PaginationsPagesBaseModel

<div class="card">
    @if (IsBusyProgress == true)
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
    }
    else
    {
        <div class="card-body">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Докумнты</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-outline-success oi oi-plus" role="button" href="@($"/{GlobalStaticConstants.DOCUMENTS_CONTROLLER_NAME}/{GlobalStaticConstants.EDIT_ACTION_NAME}/")"></a>
                        </li>
                    </ul>
                    <ProjectSelectorComponent SelectProjectHandler="Reload" />
                </div>
            </nav>
            <hr />
            <DataTableComponent DataProvider="@designEnumsDataTable" TotalRowsCount="@(project_documents.TotalRowsCount)" PageNum="@(project_documents.PageNum)" PageSize="@(project_documents.PageSize)" />
        </div>
        <ModalWindowComponent @ref="Modal">
            <p>@ModalBodyText</p>
        </ModalWindowComponent>
    }
</div>

@code {
    private ModalWindowComponent Modal { get; set; }
    private string ModalBodyText { get; set; } = string.Empty;

    SimplePaginationResponseModel project_documents { get; set; } = new SimplePaginationResponseModel();
    DocumentsTableProvider designEnumsDataTable => new DocumentsTableProvider(project_documents, GlobalStaticConstants.DOCUMENTS_CONTROLLER_NAME);

    protected override string ControllerName => GlobalStaticConstants.DOCUMENTS_CONTROLLER_NAME;

    int projectId { get; set; }
    void Reload(int project_id)
    {
        projectId = project_id;
        Rest();
    }

    protected override async Task Rest()
    {
        if (projectId <= 0)
            return;
        IsBusyProgress = true;

        GetSimpleResponsePaginationModel rest = await _design_documents_refit_service.GetDocumentsFromMyCurrentProjectAsync(Pagination);
        if (!rest.IsSuccess)
        {
            if (!string.IsNullOrEmpty(rest.Message))
                _logger.LogError(rest.Message);
            else
                _logger.LogError($"Ошибка API: {nameof(_design_documents_refit_service.GetDocumentsFromMyCurrentProjectAsync)}");
        }
        else
        {
            project_documents = rest.PaginationResponse;
        }

        IsBusyProgress = false;
        StateHasChanged();
    }
}
