@using BlazorWasmApp.Shared.design.documents
@using BlazorWasmApp.Shared.tabs
@using Microsoft.AspNetCore.Authorization
@using SharedLib
@using SharedLib.Models
@using SharedLib.Services
@using System.Text.RegularExpressions
@using System.Collections.ObjectModel

@inject SessionMarkerLiteModel _session_marker
@inject IDocumentsBodyPropertiesDesignRestService _documents_properties_body_refit_service
@inject IDocumentsGridsDesignRestService _documents_grids_design_refit_service
@inject IDocumentsPropertiesGridDesignRestService _documents_grid_properties_refit_service
@inject ILogger<DocumentPropertiesComponent> _logger

@attribute [Authorize]

@inherits BlazorBusyComponentBaseModel
<div class="row justify-content-between">
    <h4 class="col-auto">
        @switch (AreaProperty)
        {
            case AreasPropertiesEnum.Body:
                <text>Реквизиты/свойства тела документа.</text>
                <small class="text-muted">Поля тела документа</small>
                break;
            case AreasPropertiesEnum.Table:
                <text>Реквизиты/свойства табличной части документа.</text>
                <small class="text-muted">Поля табличной части документа</small>
                break;
        }

    </h4>
    @if (AreaProperty == AreasPropertiesEnum.Table)
    {
        <select disabled="@(Grids?.Any()!= true)" @bind="selected_grid_id" class="col form-select" aria-label="Default select example">
            @foreach (RealTypeModel grid_row in Grids)
            {
                <option disabled="@(grid_row.IsDeleted)" value="@(grid_row.Id)">@(grid_row.Name) [@(grid_row.SystemCodeName)]</option>
            }
        </select>
    }
</div>
<br />
@if (IsBusyProgress == true)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <EditForm autocomplete="off" Model="new_property_body_item_element" OnSubmit="HandleSubmitAddingPropertyAsync" class="row row-cols-lg-auto g-3 align-items-center justify-content-end">
        <DataAnnotationsValidator />
        <div class="col-12">
            <div class="row mb-12">
                <label for="inlineFormInputGroupSystemCodeName" class="col-sm-12 col-form-label">Новый реквизит</label>
            </div>
        </div>
        <div class="col-8">
            <label class="visually-hidden" for="inlineFormInputGroupName">Наименование</label>
            <div class="input-group">
                <InputText @bind-Value="new_property_body_item_element.Name" type="text" class="form-control" disabled="@(AreaProperty == AreasPropertiesEnum.Table && _selected_grid_id == 0)" id="inlineFormInputGroupName" placeholder="Заголовок" />
            </div>
        </div>
        <div class="col-8">
            <label class="visually-hidden" for="inlineFormInputGroupSystemCodeName">Системное/кодовое имя</label>
            <div class="input-group">
                <InputText @bind-Value="new_property_body_item_element.SystemCodeName" type="text" class="form-control" disabled="@(AreaProperty == AreasPropertiesEnum.Table && _selected_grid_id == 0)" id="inlineFormInputGroupSystemCodeName" placeholder="Системное имя" />
            </div>
        </div>
        <div class="col-8">
            <label class="visually-hidden" for="specificSelect">Preference</label>
            <InputSelect @bind-Value="new_property_body_item_element.SelectedTypeTemplate" class="form-select" disabled="@(AreaProperty == AreasPropertiesEnum.Table && _selected_grid_id == 0)" id="specificSelect">
                <OptionsForTypePropertySelectComponent DocumentsTypesOfProject="DocumentsTypesOfProject" EnumsTypesOfProject="EnumsTypesOfProject" />
            </InputSelect>
        </div>
        <div class="col-8">
            <button type="submit" class="btn btn-primary" disabled="@(AreaProperty == AreasPropertiesEnum.Table && _selected_grid_id == 0)">Добавить</button>
        </div>
    </EditForm>
    <hr />
    <DocumentBodyPropertiesComponent AreaProperty="AreaProperty" OwnertId="Id" DataRows="DataRows" DocumentsTypesOfProject="DocumentsTypesOfProject" EnumsTypesOfProject="EnumsTypesOfProject" />
}
<ModalWindowComponent @ref="Modal">
    <p>
        @ModalBodyText
    </p>
</ModalWindowComponent>